EXPO_PUBLIC_APP_ENV=staging
APP_ENV=staging
EXPO_PUBLIC_API_BASE_URL=https://staging-api.dalily.app/v1
EXPO_PUBLIC_APP_URL=https://staging.dalily.app
EXPO_PUBLIC_RELEASE_CHANNEL=preview
EXPO_PUBLIC_FF_SENTRY=true
EXPO_PUBLIC_FF_ANALYTICS=true
EXPO_PUBLIC_FF_OTA_UPDATES=true
EXPO_PUBLIC_FF_WEB_REQUEST_FLOW=true
